
// Colors
$color-primary-200: #003781;
$color-primary-300: #002044;
$color-primary-400: #002855;
$color-primary-500: #EBF0F8;
$color-secondary-100: #2D61C3;
$color-secondary-200: #3171EF;
$color-neutral-100: #000000;
$color-neutral-200: #666666;
$color-neutral-300: #C7C9C7;
$color-neutral-400: #F2F2F2;
$color-neutral-900: #FFFFFF;
$color-support-100: #25B785;
$color-support-150: #28C18D;
$color-support-200: #426CA9;
$color-support-250: #C83BC3;
$color-support-300: #D23B3B;
$color-support-350: #4E82E4;
$color-support-400: #8C95A7;
$color-support-450: #FCA736;
$color-support-500: #7CB495;
$color-support-550: #5FE5C7;
$color-support-600: #F9CC54;
$color-support-650: #8DB9CA;
$color-support-700: #B388FF;
$color-support-750: #D1D5DC;
$color-support-800: #504e4e;

// Tipografia
$font-family-primary: 'Roboto', sans-serif;

$font-size-800: '28px';
$font-size-700: '22px';
$font-size-600: '20px';
$font-size-500: '18px';
$font-size-400: '16px';
$font-size-300: '14px';
$font-size-200: '12px';
$font-size-100: '10px';

$line-height-700: '36px';
$line-height-600: '32px';
$line-height-500: '28px';
$line-height-400: '24px';
$line-height-300: '20px';
$line-height-200: '16px';
$line-height-100: '12px';
$line-height-support-100: '14.9px';

$letter-spacing-500: '0.5px';
$letter-spacing-400: 'normal';
$letter-spacing-300: '-0.5px';

$font-weight-500: '500';
$font-weight-400: '400';

$transform-500: 'uppercase';
$transform-400: 'none';