@import "../abstracts/variables";

.heading-big-2x {
    font-family: $font-family-primary !important;
    font-size: $font-size-800;
    line-height: $line-height-700;
    letter-spacing: $letter-spacing-300;
    font-weight: $font-weight-500;
    transform: $transform-500;
    color: $color-secondary-100;
}